
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:72px;
  }
  .navigation ul {
    display: flex;
    gap: 35px;
    list-style: none;
  }
  .navigation img {
    height: 90px;
}